button {
  display: -ms-grid;
  width: 100px;
  height: 50px;
  position: relative;
  margin: 10px;
  border: 2px solid #1A120B;
  background-color: #6C3428;
  color: #1A120B;
  font-weight: bold;
  font-size: 22px;
  border-radius: 5px;
}

button:active {
  background-color: #D5CEA3;
}

#audio-type {
  width: 90px;
  height: 25px;
  background-color: #9A3B3B;
  position: absolute;
  margin-top: 250px;
  margin-left: 700px;
  font-weight: bold;
  color: #1A120B;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid #1A120B;
}

#bq, #ba, #bz {
  margin-left: 300px;
}

#bq, #bw, #be {
  margin-top: 200px;
}